.block {
    background-color: darkslategray;
    color: white; 
    text-align: center;}
.substance{
    background-color: lightgrey;
}
main {
    padding: 1em;
}
body{
    margin: 0;
}
.background {
    background-image: url("record.png");
    background-repeat: repeat;
}